@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@if(User.Identity.IsAuthenticated)
{
    <div style="width:100%">
        <form asp-controller="Search" asp-action="Index" method="get">
            <input type="text" name="query" value="" />
            <button type="submit">Найти</button>
        </form>
    </div>
}

<div class="text-center">
    <p>Вас приветствует PriceParser</p>
</div>